@{
    ViewData["Title"] = "Измервания";
}

<div class="text-center p-3">
    <form method="post" asp-controller="Measures">
        <input type=text list="product" name="product" placeholder="Въведи продукт" value="@ViewBag.Product"/>
        <datalist id="product">
            @foreach (var product in Model.Products)
            {
                <option value=@product.Name></option>
            }
        </datalist>
        <label searchFrom="FromDate">От дата:</label>
        <input type="datetime-local" name="from" placeholder="yyyy-MM-ddTHH:mm" value="@ViewBag.From" />
        <label searchTo="ToDate">До дата:</label>
        <input type="datetime-local" name="to" placeholder="yyyy-MM-ddTHH:mm" value="@ViewBag.To" />
        <input type=submit value="Търси" />
    </form>
</div>

<h5>@ViewBag.Product - <a asp-action="DownloadSearch" asp-route-model="@Model"
        asp-route-product="@ViewBag.Product" asp-route-from="@ViewBag.From" asp-route-to="@ViewBag.To">
        Свали в Excel</a></h5>

<table>
    <th>№</th><th>Кант.бел.</th><th>От дата</th><th>Влекач</th><th>Ремарке</th><th>Бруто</th><th>Час</th><th>Тара</th><th>Час</th><th>Нето</th><th>Водач</th><th>Фирма</th><th>Везна</th>
    @{
        int counter = 0;
        int? sum = 0;
    }
    @foreach (var measure in Model.Measures)
    {
        {
            sum += measure.Neto;
            counter++;
        }
        <tr><td>@counter</td><td>@measure.Kanbel</td>
        <td>@measure.Dtime.ToShortDateString()</td>
        <td>@measure.TruckId - @measure.TruckPlvl</td>
        <td>@measure.Plrem</td>
        <td>@measure.Bruto</td>
        <td>@measure.Brutotm.TimeOfDay</td>
        <td>@measure.Tara</td>
        <td>@measure.Taratm.TimeOfDay</td>
        <td>@measure.Neto</td>
        <td>@measure.VodId - @measure.Name @measure.Sname @measure.Fam</td>
        <td>@measure.CompanyId - @measure.CompanyName</td>
        <td>@measure.Cantnomer</td></tr>
    }
    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>Всичко:</td><td>@sum</td>
</table>